
.twitter-typeahead {
  width: 100%;

  .tt-hint {
    color: #ccc;
  }

  .tt-menu {
    background-color: #eee;
    padding: 15px;
    width: 100%;

    .tt-suggestion.tt-cursor {
      background-color: #ddd;
    }
  }
}
